.home-link {
    color: black;
}

.about-link {
    color: #21bfb9;
}

.contact-link {
    color: black;
}

.text-container {
    background: #3e3e3e;
}

.numbers_container {
    background: #10c9c3;
}

.about-container-content {
    background: #f5f5f5;
}