.background {
    background: white;
}

header {
    background: #f6f6f6;
}

.text-container {
    height: 200px;
}

.text-container-item {
    margin-top: 4%;
    margin-bottom: 4%;
}

.dark-gray {
    background: #838383;
}

.gray {
    background: #dddddd;
}

.black-text {
    color: black;
}

.work-container .col-3 {
    padding-top: 20%;
    
}

.work-container-cell:hover {
    background-image: url("../img/view.png");
    background-repeat: no-repeat;
    background-color: #21bfb9;
    background-position: center center;
    opacity: 0.5;
}

li {
    list-style-type: none;
}

footer {
    background: #141414;
}
